In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import gensim
import time

In [2]:
"Load pre-train model"

now = time.time()


"Fasttext: download pre-trained model at https://fasttext.cc/docs/en/crawl-vectors.html"

fasttext = gensim.models.KeyedVectors.load_word2vec_format("/Users/Cescnghia/Documents/dataset/wiki.en/wiki.en.vec")
#fasttext = gensim.models.KeyedVectors.load_word2vec_format("data/wiki.en/wiki.en.vec")


"""
    If you want to use word2vect then download this one. The default word embedding is fasttext
    Download word2vec pre-trained model at : "https://code.google.com/archive/p/word2vec/"
"""

#word2vec_path = "data/GoogleNews-vectors-negative300.bin.gz"
#word2vec = gensim.models.KeyedVectors.load_word2vec_format(word2vec_path, binary=True)


print('It took {s} mins to load 2 pretrained models'.format(s=(time.time()-now)/60))

It took 9.616159466902415 mins to load 2 pretrained models

# 1  Dashboard

In [3]:
from dashboard import get_dashboard, update_dashboard, zoom_cluster

In [7]:
PATH_TO_DATA = 'data/ref_w1q1.csv'

In [8]:
dataframe = pd.read_csv(PATH_TO_DATA)
DATA_INITIAL = dataframe[:400]['text']
DATA_UPDATED = dataframe[400:]['text']
dataframe.head()

                                                text
0  The WISE simulations allowed the students to c...
1  The most effective aspects in wise activity we...
2  WISE uses predict-observe-explain patterns wit...
3  It appears that the interactive app allowed th...
4  Students can make predictions and test them. T...

In [9]:
PATH_TO_STOPWORD       = "data/english_most_frequency.csv"
english_most_5000_frequency = pd.read_csv(PATH_TO_STOPWORD,sep = ',', encoding = "ISO-8859-1")
STOPWORDS = [x for x in english_most_5000_frequency['Word']]
NB_CLUSTER = 40
THRESHOLD_REPLACEMENT = 0.7
THRESHOLD_TAKEOUT = 50
SEED = 9016891

In [10]:
now = time.time()

a, b, c = get_dashboard(DATA_INITIAL, 
                'text', fasttext, STOPWORDS, NB_CLUSTER, THRESHOLD_REPLACEMENT, SEED, cutoff=False, threshold_takeout=None)

print('Running time: ', time.time()-now,' s')

Begin preprocessing stage
1090
316
Begin embedding stage
286
Begin words replacement stage
***  Before the replacement, we have 286 words
271
***  After the replacement, we have 270 words
Begin remove most frequency stage (within the dataset)
Begin clustering stage
Begin visualization stage
Finish
--------------------------------------
Running time:  23.049131155014038  s

In [12]:
a.head(3)

,text,standardized_text,processed_text
0,The WISE simulations allowed the students to c...,the wise simulations allowed the students to c...,wise simulation allow student conceptualize ab...
1,The most effective aspects in wise activity we...,the most effective aspects in wise activity we...,effective aspect wise activity create spirit t...
2,WISE uses predict-observe-explain patterns wit...,wise uses predict observe explain patterns wit...,wise use predict observe explain pattern promp...

In [13]:
b.head(3)

  replaced_by                to_replace
0  schoolmate   [classmate, schoolmate]
1     ability  [competence, competency]
2     ability  [competence, competency]

In [14]:
c.head(3)

,processed_text,count,pos,vect,x,y,cluster,cluster_center,distance_to_center,representative_cluster,wordnet
0,ability,2,n,"[-0.098041, 0.1796, -0.57259, 0.073026, -0.084...",0.003403,0.755828,13,"[0.09747250157242754, 0.7862965760710049]",0.009777,False,attribute
1,abundance,1,n,"[-0.26207, 0.1481, -0.046696, 0.45521, 0.01820...",0.086277,0.081123,17,"[0.20562894324981815, 0.11285769777207387]",0.015252,False,quantity
2,accord,4,v,"[-0.098114, -0.24023, 0.15353, 0.31165, 0.0055...",-0.966565,0.209087,11,"[-0.862085654872953, 0.32351745065053844]",0.024010,False,harmonize

In [11]:
now = time.time()
a_, b_, c_ = update_dashboard(DATA_UPDATED, 
                       'text',
                       a,
                       b,
                       c,
                       fasttext, STOPWORDS, NB_CLUSTER, THRESHOLD_REPLACEMENT, SEED, cutoff=False, threshold_takeout=None)

print('Time: ', time.time()-now,' s')

Begin preprocessing stage
Begin global stopwords removing stage
Begin concatenate old and new data then groupby stage
Begin embedding stage
Begin words replacement stage
***  Before the replacement, we have 479 words
Begin remove most frequency stage (within the dataset)
Begin clustering stage
Begin find concept stage
Time:  20.913381099700928  s

In [15]:
a_.tail(3)

,text,standardized_text,processed_text
730,Help students to get a better vision of what ...,help students to get a better vision of what ...,help student get good vision taught thermodyna...
731,In chronic recurrent sialadenitis or chronic s...,in chronic recurrent sialadenitis or chronic s...,chronic recurrent sialadenitis chronic scleros...
732,Practical examples using excellent visuals. Ch...,practical examples using excellent visuals. ch...,practical example use excellent visuals challe...

In [16]:
b_.tail(3)

   replaced_by                                         to_replace
77       image  [visualisation, visualise, visualization, visu...
78       image  [visualisation, visualise, visualization, visu...
79       image  [visualisation, visualise, visualization, visu...

In [17]:
c_.tail(3)

,processed_text,count,pos,vect,x,y,cluster,cluster_center,distance_to_center,representative_cluster,wordnet
445,ère,1,v,"[-0.17093, 0.048506, 0.073312, 0.25404, -0.022...",-0.780448,1.150914,25,"[-0.47929299653973223, 1.0321209606584854]",0.104806,False,metric_unit
446,ès,7,n,"[-0.16176, 0.0049421, -1.0167, -0.00041378, -0...",-1.078781,1.951376,24,"[-0.9829914957905036, 1.508989055961509]",0.204882,False,measure
447,ève,1,v,"[0.3226, -0.0018622, -0.18705, -0.078807, 0.17...",-1.254155,0.911804,16,"[-1.0681432222452203, 0.7303314142842517]",0.067532,False,flag_officer

# 2 matching against teacher’s concepts

In [18]:
from lsa import check_responses

### 2.1 Reflection dataset (english)

In [19]:
PROF_EXPECTATION = "experiment melt chocolate"
PROF_EXPECTATION += " "
PATH_TO_DATA    = "data/ref_w1q1.csv"
LATENT_SPACE = 60

In [20]:
dataframe = pd.read_csv(PATH_TO_DATA)
dataframe.head(3)

                                                text
0  The WISE simulations allowed the students to c...
1  The most effective aspects in wise activity we...
2  WISE uses predict-observe-explain patterns wit...

In [21]:
dataframe, sim_scores = check_responses(dataframe, 'text', LATENT_SPACE, PROF_EXPECTATION)

There are 733 responses in 2040 significant terms

In [22]:
dataframe.head()

,text,standardized_text,processed_text,score
0,The WISE simulations allowed the students to c...,the wise simulations allowed the students to c...,wise simulation allow student conceptualize ab...,0.024981
1,The most effective aspects in wise activity we...,the most effective aspects in wise activity we...,effective aspect wise activity create spirit t...,0.013330
2,WISE uses predict-observe-explain patterns wit...,wise uses predict observe explain patterns wit...,wise use predict observe explain pattern promp...,0.004272
3,It appears that the interactive app allowed th...,it appears that the interactive app allowed th...,appear interactive app allow visualize science...,0.004936
4,Students can make predictions and test them. T...,students can make predictions and test them. t...,student make prediction test work small group,0.000969

In [23]:
sim_scores

array([[1.00000000e+00, 1.74099404e-01, 3.75404330e-01, ...,
        1.17844693e-01, 1.62409964e-01, 7.78440656e-02],
       [1.74099404e-01, 1.00000000e+00, 3.72085805e-01, ...,
        9.08839845e-02, 8.35789317e-04, 1.91295987e-01],
       [3.75404330e-01, 3.72085805e-01, 1.00000000e+00, ...,
        1.79225951e-01, 6.13688950e-02, 2.14679067e-01],
       ...,
       [1.17844693e-01, 9.08839845e-02, 1.79225951e-01, ...,
        1.00000000e+00, 7.48203320e-02, 1.58046138e-01],
       [1.62409964e-01, 8.35789317e-04, 6.13688950e-02, ...,
        7.48203320e-02, 1.00000000e+00, 2.84118768e-01],
       [7.78440656e-02, 1.91295987e-01, 2.14679067e-01, ...,
        1.58046138e-01, 2.84118768e-01, 1.00000000e+00]])

In [24]:
sim_scores.shape

(733, 733)

### 2.2 Statistic dataset (french)

In [25]:
POS_JAR = "data/stanford-postagger-full-2017-06-09/stanford-postagger-3.8.0.jar"
POS_MODEL = "data/stanford-postagger-full-2017-06-09/models/french.tagger"

PROF_EXPECTATION_FRENCH = "Il faut utiliser la loi de poisson"
PROF_EXPECTATION_FRENCH += " ou poisson distribution"
PATH_TO_FRENCH_DATA    = 'data/data2.tsv'
FRENCH_LATENT_SPACE = 20

In [26]:
french = pd.read_csv(PATH_TO_FRENCH_DATA, header = None, sep = '\t', encoding = "utf-8")
french.columns = ['text']
french.head(7)

                                                text
0   On compte les clients du fitness qui viennent...
1  - Calculer le nombre d'étudiants libre dans ce...
2  -Un compteur à l’entrée qui permet de compter ...
3  -placer un portique qui laisse passer 1 person...
4  Afin d'estimer au mieux le nombre de personne,...
5  Afin de compter au mieux le nombre de personne...
6  AfinUne porte avec une carte permettrai de com...

In [27]:
now = time.time()

profAnswer = "Il faut utiliser la loi de poisson"
profAnswer += " ou poisson distribution"

french, french_sim_scores = check_responses(french, 'text', FRENCH_LATENT_SPACE, PROF_EXPECTATION_FRENCH, POS_JAR, POS_MODEL, english=False)

print('It took {s} mins to run this method'.format(s=(time.time()-now)/60))

/Users/Cescnghia/Applications/anaconda/lib/python3.6/site-packages/nltk/tag/stanford.py:149: DeprecationWarning:
The StanfordTokenizer will be deprecated in version 3.2.5.
Please use nltk.tag.corenlp.CoreNLPPOSTagger or nltk.tag.corenlp.CoreNLPNERTagger instead.
  super(StanfordPOSTagger, self).__init__(*args, **kwargs)

There are 161 responses in 634 significant terms

/Users/Cescnghia/Applications/anaconda/lib/python3.6/site-packages/nltk/tag/stanford.py:149: DeprecationWarning:
The StanfordTokenizer will be deprecated in version 3.2.5.
Please use nltk.tag.corenlp.CoreNLPPOSTagger or nltk.tag.corenlp.CoreNLPNERTagger instead.
  super(StanfordPOSTagger, self).__init__(*args, **kwargs)

It took 3.0268712520599363 mins to run this method

In [28]:
french.head(7)

,text,standardized_text,processed_text,score
0,On compte les clients du fitness qui viennent...,on compte les clients du fitness qui viennent...,compter client fitness venir mardi heure an él...,-0.153073
1,- Calculer le nombre d'étudiants libre dans ce...,calculer le nombre d étudiants libre dans ce...,calculer nombre étudiant libre intervalle temp...,0.129787
2,-Un compteur à l’entrée qui permet de compter ...,un compteur à l’entrée qui permet de compter ...,compteur entrée permettre compter nombre perso...,-0.036275
3,-placer un portique qui laisse passer 1 person...,placer un portique qui laisse passer person...,placer portique laisser passer foi décompte no...,-0.053614
4,"Afin d'estimer au mieux le nombre de personne,...",afin d estimer au mieux le nombre de personne ...,estimer mieux nombre falloir obliger personne ...,0.638562
5,Afin de compter au mieux le nombre de personne...,afin de compter au mieux le nombre de personne...,compter mieux nombre entrer centre sportif mar...,0.787432
6,AfinUne porte avec une carte permettrai de com...,afinune porte avec une carte permettrai de com...,afinune porter carte permettrai compter voir n...,0.525858

In [29]:
french_sim_scores

array([[ 1.00000000e+00,  2.14990714e-01,  3.18721151e-02, ...,
         4.28044386e-01,  1.67918149e-01, -8.70695155e-02],
       [ 2.14990714e-01,  1.00000000e+00,  1.55115033e-01, ...,
         5.09420065e-01,  3.36605984e-04,  3.57562080e-02],
       [ 3.18721151e-02,  1.55115033e-01,  1.00000000e+00, ...,
         3.87751414e-01,  7.82489587e-01,  9.47213416e-02],
       ...,
       [ 4.28044386e-01,  5.09420065e-01,  3.87751414e-01, ...,
         1.00000000e+00,  3.04120610e-01, -2.40547992e-02],
       [ 1.67918149e-01,  3.36605984e-04,  7.82489587e-01, ...,
         3.04120610e-01,  1.00000000e+00, -4.48388167e-02],
       [-8.70695155e-02,  3.57562080e-02,  9.47213416e-02, ...,
        -2.40547992e-02, -4.48388167e-02,  1.00000000e+00]])

In [30]:
french['score'].nlargest(11)

145    2.741378
146    2.741378
63     2.741378
151    2.021399
42     2.000798
101    1.507721
62     1.475425
77     1.442221
160    1.241142
87     1.184834
84     0.984233
Name: score, dtype: float64

In [31]:
french.iloc[146]['text']

'loi poisson\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n'

# 3 Tensorflow Hub

In [28]:
import tensorflow as tf
import tensorflow_hub as hub
from sklearn.metrics.pairwise import cosine_similarity

In [156]:
dataframe = pd.read_csv(PATH_TO_DATA)
dataframe.head()
dataframe.head(3)

                                                text
0  The WISE simulations allowed the students to c...
1  The most effective aspects in wise activity we...
2  WISE uses predict-observe-explain patterns wit...

In [30]:
def hub_sentence_embeddings(df, textfield):
    sentences = [x for x in df[textfield]]
    with tf.Graph().as_default():
        embed = hub.Module("https://tfhub.dev/google/nnlm-en-dim128-with-normalization/1")
        embeddings = embed(sentences)
        with tf.Session() as sess:
            sess.run(tf.global_variables_initializer())
            sess.run(tf.tables_initializer())

            return sess.run(embeddings)

In [31]:
embedded = hub_sentence_embeddings(dataframe, 'text')
english_sim_scores_by_tensorhub = cosine_similarity(embedded)

INFO:tensorflow:Using /var/folders/6l/0zt406zd3v1c3jv20lqlkpmc0000gn/T/tfhub_modules to cache modules.
INFO:tensorflow:Initialize variable module/embeddings/part_0:0 from checkpoint b'/var/folders/6l/0zt406zd3v1c3jv20lqlkpmc0000gn/T/tfhub_modules/2cdbcae1a547f4fb93475d4b7d4140f8590995b7/variables/variables' with embeddings

In [32]:
english_sim_scores_by_tensorhub

array([[1.0000001 , 0.81933194, 0.5520406 , ..., 0.77504694, 0.5155209 ,
        0.709763  ],
       [0.81933194, 1.0000005 , 0.6146651 , ..., 0.77923286, 0.58373034,
        0.7202263 ],
       [0.5520406 , 0.6146651 , 0.99999994, ..., 0.5152695 , 0.43203086,
        0.6238394 ],
       ...,
       [0.77504694, 0.77923286, 0.5152695 , ..., 1.0000001 , 0.5007949 ,
        0.61645794],
       [0.5155209 , 0.58373034, 0.43203086, ..., 0.5007949 , 1.0000002 ,
        0.3841299 ],
       [0.709763  , 0.7202263 , 0.6238394 , ..., 0.61645794, 0.3841299 ,
        1.        ]], dtype=float32)